.tituloPrincipal{
    text-align: center;
    font-size: 5rem;
    margin-bottom: -1.5em;
}
h1{
  font-family: "Jolly Lodger", system-ui;

  text-shadow: 0 0 1.875rem red;
  color: white;
}

span{
  color: rgb(255, 0, 0);
}

.img{
  height: 50rem;
  margin-left: -10em;
  width: 200%;
}

.container2{
  display:grid;
  grid-template-columns: 50% 50%;
  margin: 20em 10em 0 10em;
}

.textoPrincipalDasImagens{
  font-size: 4.375rem;
  text-align: center;
  margin: 0
}

.painel{
  border: solid 10px brown;
  height: 20em;
  border-radius: 0.625rem;
}

.animate-fadein {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(20.5rem); }
}

.animate-fadeout {
  animation: fadeOut 2s forwards;
}


.painelDeImagens{
  margin-top: 5em;
}