.container-principal{
    background-color: #564813;
    border: solid rgb(128, 78, 38);
    border-radius: 0.625rem;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
    padding: 1.875rem;
    z-index: 1;
}

.textoApresentação{
    margin-bottom: 1.875rem;
}

.form{
    display: flex;
    flex-direction: row;
}

.texto{
    font-family:Arial, Helvetica, sans-serif;
}

.inputDeEmail{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    padding: 0.438rem;
    border-radius: 0.625rem;
    background-color: white;
    
}

h1{
      font-family: "Jolly Lodger", system-ui;
      font-size: 3.75rem;
      text-shadow: 0 0 0.313 rgb(0, 0, 0);
      margin:0em;
}