.logotipo {
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
}

.img-Chainsawman {
  height: 50rem;
  width: 37.5rem;
  margin-left: -10em;
  text-shadow: 0 0 0.625rem red;
  position: relative;
  z-index: 1;
  
}

.corpoDaPagina {
  display: grid;
  grid-template-columns: 50% 50%;
    margin: 0 0 0 220px;
    align-items: center;
}

.tituloPrincipal{
  /* font-family: "Finger Paint", sans-serif;
  font-weight: 4000;
  font-style: normal; */        
  font-family: "Jolly Lodger", system-ui;
  font-weight: 4000;
  font-style: normal;
  font-size: 6.25rem;
  color: rgb(183, 100, 37);
    color: #fff;
  text-shadow:
    0px 0 50px rgb(243, 32, 32);
    margin-bottom: 0px;
    margin-left: -5rem;
    text-align: center;
    align-items: center;
}

.destaqueTitulo{
    color: rgb(114, 23, 23);
    text-shadow:
    0 0 5px rgb(243, 32, 32);
}

.imagemEmJapones{
    margin-bottom: 2.5rem;
}

.container-principal{
    margin-top: -200em;
    position: relative;
    z-index: 2;
}

.animate-fadein {
  animation: fadeIn 2s forwards;
}
.animate-fadeout {
  animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(40px); }
}


.container2{
  margin-top: 15em;
}